/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');
:root{
    --mainColor: wheat;
    --secondaryColor: antiquewhite;
    --headerColor:rgb(68, 68, 68);
    --primaryFontColor: wheat;
    --secondaryFontColor: rgba(250, 235, 215, 0.629);
    --contentBackgroundColor: rgb(82, 77, 71);
    --tooltipBackgroundColor: rgb(175, 120, 53);
    --linkColor: rgb(0, 208, 255);
    --tableBorderColor:rgb(122, 114, 98);
    font-size: 14px;
}

body {
    position: absolute;
    background-color: black;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-size: 1.25rem;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
}

/* TRANSITION ANIMATIONS */

    /* OUT ANIMATIONS */
@keyframes fadeout {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

@keyframes slide-out-left {
    0% {
        left: 0%;
    }

    90% {
        left: 100%;
    }

    100%{
        left:100%;
        opacity: 0;
    }
    
}

@keyframes yRotateOut {
    from {
        transform: scale(1,1);
    }

    to {
        transform: scale(0,1);
    }
}

@keyframes xRotateOut {
    from {
        transform: scale(1,1);
    }

    to {
        transform: scale(1,0);
    }
}

@keyframes frameDrop {
    0%{
        transform-origin: 0% 0%;
        transform: rotatez(0deg);
        z-index: 999;
    }
    40%{
        transform-origin: 0% 0%;
        transform: rotatez(60deg);
        opacity: 1;
    }   
    80%{
        transform-origin: 0% 0%;
        transform: rotatez(60deg);
        transform: translateY(100%);
        z-index: 999;
        opacity: 0;
    
    }
    100%{
        transform-origin: 0% 0%;
        transform: rotatez(60deg);
        transform: translateY(100%);
        z-index: 999;
        opacity: 0;
    }
}
@keyframes pushAndTurn {
    0%{
        opacity: 1;
        transform: scale(100%,100%);
    }
    50%{
        opacity: 0.5;
        transform: scale(50%, 50%);
    }
    100%{
        opacity: 0;
        transform: scale(50%, 50%) rotateY(-90deg) translateX(100%);
    }
}
    /* IN ANIMATIONS */
@keyframes fadein {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

@keyframes yRotateIn {
    from{
        transform: rotateY(90deg);
    }

    to{
        transform: rotateY(0deg);
    }
}

@keyframes xRotateIn{
    from{
        transform: rotateX(90deg);
    }

    to{
        transform: rotateX(0deg);
    }
}

@keyframes slideInLeft{
    from{
        transform: translate(100%);
        opacity: 0;
    }

    to{
        transform: translate(0%);
        opacity: 1;
    }
}

/* SCROLLBAR */
.active-subpage:hover {
    overflow-y: auto;
}

.active-subpage::-webkit-scrollbar{
    width: 12px;
}

.active-subpage::-webkit-scrollbar-thumb{
    background-color: #888;
    /* Thumb color */
    border-radius: 10px;
}

.active-subpage::-webkit-scrollbar-track{
    background-color: var(--contentBackgroundColor);
    margin: 5vh;
}


/* ANIMATED BACKGROUND */
.animated-background {   
    position: fixed;
    width: auto;
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;
}

/* HEADER */
.header-content {
    display: flex;
    background-color: var(--headerColor);
}

.header-img img {
    position: relative;
    width: 150px;
    border: 3px solid var(--mainColor);
    border-radius: 300px;
    margin: 30px auto 30px;
    z-index: 1;
}

.header-img:after {
    display: flex;
    position: absolute;
    border-radius: 300px;
    margin-top: calc(-170px);
    margin-left: calc(1%);
    content: '';
    height: 170px;
    width: 165px;
    background-image: -webkit-repeating-radial-gradient(center , var(--mainColor), var(--secondaryColor) 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center , wheat, antiquewhite 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center , wheat, antiquewhite 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.header-info{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: var(--mainColor);
    width: 80%;
}

.header-info h3{
    color: var(--secondaryFontColor);
}

.header-info h4 {
    color: var(--secondaryFontColor);
}

.social-links{
    display: flex;
    width: 80%;
    margin: 10px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.social-links a i{
    color: var(--mainColor);
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.social-links a:hover i{
    color: rgb(159, 146, 122);

}

.header-button{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button {
    color: var(--mainColor);
    text-decoration: none;
    border: 2.5px solid var(--mainColor);
    border-radius: 7px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    background-color: var(--mainColor);
    color: black;
}
/* MAIN CONTAINER */
.main-container {
    flex-flow: column wrap;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;

    background-color: var(--headerColor);
    border-radius: 32px 0px 0px 32px;
    
    color: var(--mainColor);
}


.menu-button-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(178, 30, 126,0.0);
    width: 5%;
}

.menu-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    margin: 5px;
    
    color: var(--mainColor);
    background-color: var(--headerColor);

    width: 100%;
    max-width: 50px;
    height: 50px;
    border: 2.5px solid var(--mainColor);
    border-radius: 10px;
    
    transition: all 0.3s ease-in-out;
}

.menu-button i{
    display: block;
}

.menu-button:hover {
    color: black;
    background-color: var(--mainColor);
    cursor: pointer;
}

.menu-button .button-tooltip {
    display: block;
    visibility: hidden;
    text-align: right;

    padding: 5px;

    background-color: var(--tooltipBackgroundColor);
    color: #fff;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 5%;
    opacity: 0%;
    transition: all 0.3s ease-in-out;
}

.menu-button:hover .button-tooltip{ 
    visibility: visible;
    opacity: 100%;
    right: 8.6%;
}

.opacity-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--headerColor);
    background-color: var(--mainColor);
    width: 100%;
    margin: 5px;
    width: 100%;
    max-width: 50px;
    height: 50px;
    border: 2.5px solid var(--mainColor);
    border-radius: 10px;
}

.opacity-button:hover {
    color: var(--mainColor);
    background-color: var(--headerColor) !important;
}

p a{
    color: var(--linkColor);
    text-decoration: none;
}

.resume-content{
    display: flex;
    position: relative;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
}

/* SUBPAGES */
.subpage{
    display: none;
    visibility: hidden;
    opacity: 0;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: space-around;
    
    color: var(--mainColor);
    overflow-x: hidden;
    
}

.subpage h2{
    color: var(--primaryFontColor);
    margin: 0;
    font-size:2rem;
    font-weight: bold;
    z-index: 99;
}

.subpage h2::after{
    position: absolute;
    content: '';
    z-index: -1;
    width: 60px;
    height: 20px;

    background-image: -webkit-repeating-radial-gradient(center, var(--headerColor), var(--linkColor) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;

    margin-left: -30px;
    margin-top: 20px;
}

.subpage h3{
    color: var(--primaryFontColor);
    font-size: 1.5rem;
    font-weight: bold;
}

.subpage p{
    margin: 0;
    font-size: 1.25rem;
}

.active-subpage{
    display: inline-flex !important;
    opacity: 1;
    visibility: visible !important;
    flex-direction: column;

    color: var(--mainColor);

    width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 30px;
    justify-content: flex-start;
    
    background-color: var(--contentBackgroundColor);
    background-size: cover;

    border-radius: 0px 32px 32px 0px;

    scrollbar-gutter: stable;

    overflow-y: hidden;
    overflow-x: hidden;
    
}

/*EDUCATION TABLE*/
table.education tr{
    border-spacing: 10px;
}

table.education tr td:first-child{
    border-right: 1px solid var(--secondaryFontColor);
}

table.education tr td:first-child{
    vertical-align: top;
    text-align: right;
    padding-right: 15px;
}

table.education tr td:last-child::before {
    position: absolute;
    z-index: 2;
    content: '';
    background-color: var(--mainColor);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-left: -15.2px;
}

table.education tr td{
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
}

table.education tr td h3{
    margin-bottom: 0;
}

table.education tr td h4{
    margin-bottom: 0;
    font-size: 1.0rem;
    color: var(--secondaryFontColor);
    margin-top: 5px;
    margin-bottom: 5px;
}
/*EXPERIENCE TABLE*/

table.experience tr {
    border-spacing: 10px;
}

table.experience tr td:first-child {
    border-right: 1px solid var(--secondaryFontColor);
}

table.experience tr td:first-child {
    vertical-align: top;
    text-align: right;
    padding-right: 15px;
}

table.experience tr td:last-child::before {
    position: absolute;
    z-index: 2;
    content: '';
    background-color: var(--mainColor);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-left: -15.2px;
}

table.experience tr td {
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
}

table.experience tr td h3 {
    margin-bottom: 0;
}

table.experience tr td h4 {
    margin-bottom: 0;
    font-size: 1.0rem;
    color: var(--secondaryFontColor);
    margin-top: 5px;
    margin-bottom: 5px;
}
/* SKILLS LIST */
.skills ul{
    list-style: none;
}

.skills ul li{
    display: inline-block;
    padding: 3px;
    margin: 3px;
    border: 1px solid var(--mainColor);
    border-radius: 7px;
}

.skills h4{
    font-size: 1.3rem;
    color: var(--secondaryFontColor);
}

/* PROJECTS TABLE */
table.projects tr {
    border-spacing: 1.0rem;
    border-bottom: 1px solid var(--tableBorderColor);
    border-top: 1px solid var(--tableBorderColor);
}

table.projects tr td:first-child {
    /* border-right: 1px solid var(--secondaryFontColor); */
    width: 25%;
}

table.projects tr td:first-child img {
    width: 100%;
}

table.projects tr td:last-child {
    vertical-align: top;
    text-align: left;
    padding-left: 1.0rem;
    padding-top: 1.0rem;
}

table.projects tr td:last-child a{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--linkColor);
    text-decoration: none;
}

table.projects tr td:last-child h4 {
    font-size: 1.25rem;
    color: var(--secondaryFontColor);
    margin-top: 5px;
    margin-bottom: 1.0rem;
}

table.projects tr td:last-child p{
    font-size: 1.0rem;
    color: var(--primaryFontColor);
    margin-bottom: 1.0rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
        .page {
            display: block;
            width: 100%;
            height: 100%;
            padding-right: 2.5%;
            padding-left: 2.5%;
        }
    
        .page-content {
            display: flex;
            flex-flow: row wrap;
            align-items: stretch;
            width: 100%;
            min-height: 80vh;
            /* margin: 10vh auto; */
            margin-top: 1vh;
            border-radius: 32px;
            backface-visibility: hidden;
            overflow-y: auto;
        }
    
        .header-content {
            display: flex;
            width: 100%;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            text-align: center;
            overflow: hidden;
            border-radius: 32px 32px 0 0;
        }

        .header-img:after {
            margin-top: calc(-170px);
            margin-left: calc(30% + 15px);
            height: 170px;
            width: 165px;

        }

        .social-links {
            justify-content: center;
        }

        .social-links a{
            margin-left: 15px;
            margin-right: 15px;
        }

        .main-container {
            width: 100%;
            border-radius: 0 0 32px 32px;
            background-color: var(--headerColor);
        }

        .menu-button-container{
            position: sticky;
        }

        .menu-button-container a{
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 0;
        }
        
        .mobile-menu{
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: center;
            align-items: flex-end;
            margin-top: 25px;
        }

        .desktop-menu{
            display: none;
        }

        .menu-button .button-tooltip {
            right: 45%;
            top: 7%;
            opacity: 0%;
            transition: all 0.3s ease-in-out;
        }

        .menu-button:hover .button-tooltip{ 
            visibility: visible;
            opacity: 100%;
            right: 45%;
            top: 13%;
        }

        .active-subpage {
            border-radius: 32px;
        }
}

/* large devices (portrait tablets and displays, 1000px and up) */
@media only screen and (min-width: 1000px) {
        .page {
            display: block;
            width: 100%;
            height: 100%;
            padding-right: 5%;
            padding-left: 10%;
            overflow: hidden;
        }
    
        .page-content {
            display: flex;
            width: 100%;
            /* min-height: 80vh; */
            /* max-height: 90vh; */
            height: 80vh;
            margin: 10vh auto;
            border-radius: 32px;
            backface-visibility: hidden;
        }
    
        .header-content {
            width: 300px;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            border-radius: 32px 0 0 32px;
        }
    
        .main-container {
            width: calc(100% - 300px);
            border-radius: 0 32px 32px 0;
        }

        .mobile-menu{
            display: none;
        }

        .desktop-menu{
            display: flex;
            flex-flow: column wrap;
        }
}
